body{
  display: block;
  margin: 0;
  font-family: Lato;
  line-height: 1.6;
}
.navbar{
  line-height: normal;
}
.navbar .content {
  width: 400px;
  padding: 20px;
  overflow: hidden;
}

.navbar .content img{
  margin-right: 15px;
  float: left;
}

.navbar .content h3{
  margin-left: 15px;
  display: block;
  margin-top: 5px;
  color: #7010C0;
  font-size: 1.5em;

}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
.navbar  li {
  float:left;
  font-size: 1.2em;
}

.navbar a.active {
  text-decoration: underline;
}
  
.navbar  li a, .dropbtn {
  display: inline-block;
  color: #7010C0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 40px;
}

.navbar li a:hover, .dropdown:hover .dropbtn {
  background-color: #f9f9f9;;
}
  
.navbar li.dropdown {
  display: inline-block;
}
  
.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.navbar .dropdown-content a {
  color: #7010C0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-top: 0;
}
  
.navbar .dropdown-content a:hover {
  color:  #f9f9f9; 
  background-color: #7010C0;
}
  
.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .icon {
  display: none;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #7010C0;
  display: inline-block;
  padding-bottom: 5px;
}

.menu {
  width: 35px;
  height: 5px;
  background-color: #7010C0;
  margin: 6px 0;
}

/*nav bar end*/
#showcase{
  background-image:url("images/hands.png");
  background-size:cover;
  background-position:center;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  margin: 0;
  max-height: fit-content;
}

#showcased{
  background-image:url("images/output-onlinepngtools.png");
  background-size:cover;
  background-position:center;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  margin: 0;
  max-height: fit-content;
}
.one{
  text-align: center;
}
.one p:hover{
  transform: scale(1.1);
}

h1{
  font-size: 4em; 
  color:#7010C0;
}

.container{
  margin-left: 7%;
  margin-right: 7%;
}

#land2{
  background-color: #FDEFEB;
  margin: 0;
  max-height: fit-content;
  min-height: 100vh;

}
.mv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 10% 0 10% 0;
}
.a1{
  width: 50%;
  text-align: center;
  display: inline-block;
}
.a1:hover{
  transform: scale(1.1);
}
.a1 img{
  height: 200px;
  background-color: #fff;
}
.a1 h1{
  margin-block-start: 0;
  margin-block-end: 0;
  display: block;
}

.a1 ul{
  padding-left: 25%;
  display:block;
  text-align: left;
}

.land3{
  background : url(images/element1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.land4{
  background : url(images/element2.png), url(images/elementf2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left, bottom right;
}

.l1{
  padding-left: 4%;
  padding-top: 5%;
  padding-right: 30%;

}

.l1 h1{
  margin-bottom: 4%;
}
  
.land{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
  
.box{
  display:block;
  border-radius: 25px;
  border-style: solid;
  border-color: coral;
  width: 25%;
  padding: 0px;
  margin: 3.8%;
  overflow: hidden; 
  background-color: #fff;
}

.box:hover{
  transform: scale(1.1);
}

.box img {
  max-width: 100%;
  max-height: 100%;
}

.box iframe {
  max-width: 100%;
  max-height: 100%;
}

.box h3{
  padding: 10px;
  text-decoration: underline;
}

.box p{
  padding: 0 10px 0 10px;
}

.footer {
  background : url(images/elementf1.png), linear-gradient(to bottom, #7010C0, #8A4AC0);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, right;
  margin: 0;
  margin-top: 5%;
  line-height: normal;
}

.content2 {
  padding: 20px;
  overflow: hidden;
}

.content2 svg {
  margin-left: 50px;
  float: left;
  width : 50px;
}

.content2 h3{
  display: inline-block;
  color: #fff;
  font-size: 1em;
  width: 25%;
  font-weight: 100;
  margin-left: 15px;
  margin-top: 6px;
}

.content2 a{
  color: #fff;
  text-decoration: none;

}

.content2 #copy{
  padding-left: 50px;
  text-align: right;
}

.content2 #conus{
  text-align: center;
}

.content2 #name{
  text-align: left;
}

#bd{
    background-color: #FDEFEB;
    display: flex;
    margin: 0;
    max-height: fit-content;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}



@media screen and (max-width: 992px) {
  .navbar li:not(:first-child) {
    display: none;
  }

  .navbar li.icon {
    display: block;
    font-size: 1.3em;
    overflow: visible;
    position: absolute;
    top: 4%;
    right: 7%;
  }

  .navbar li{
    overflow: hidden;
    text-align: left;
    font-size: 1em;
  }
 
  .navbar.responsive li.icon {
    width:auto;
    float: right;
  }
    
  .navbar.responsive li {
    overflow: hidden;
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 0;
  }
    
  .navbar.responsive a{
    margin-top: 0;
  }
    
  .navbar.responsive.dropdown-content a{
    display: none;
  }

  .navbar .content img{
    width: 50px;
  }
    
  .navbar .content h3{
    font-size: 1em;
  }
    
  .l1{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }
    
  h1{
    font-size: 2.5em;
  }
    
  #land2{
    background : none;
    background-color: #FDEFEB;
    display: flex;
    margin: 0;
    max-height: fit-content;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
    
  .mv{
    flex-direction:column;
  }
  .a1{
    width: auto;
    padding: 0;
    margin-top: 10vh;
  }
    
  .a1 p{
    padding: 0 10% 10% 10%;
  }
  .a1 ul{
    padding-inline-start: 40px;
  }
    
  .land{
    padding-left: 10%;
    padding-right: 10%;
  }

  .box{
    width: auto;
    margin-bottom: 15%;
    margin-left:0 ;
    margin-right: 0;
  }
    
  .content2 svg{
    margin: 0 15px 0 15px;
  }
    
  .content2 img{
    width: 50px;
  }
    
  .content2 h3{
    font-size: 1em;
    display: block;
    width: auto;
  }
  
  .content2 #copy{
  padding-left: 0px;
  text-align: left;
  }

  .content2 #conus{
  text-align: left;
  }

  .content2 #name{
  text-align: left;
  }
  .one{
    margin-top: 30%;
  }
}  
