body {
  display: block;
  margin: 0;
  font-family: Lato, Helvetica, sans-serif;
}

h1{
  font-size: 4em; 
  color:#8A4AC0;
}

h3{
  text-decoration: underline;
}

.l1{
  padding-top: 10%;
  padding-right: 30%;
}


#l2{
  padding-top: 20%;
  padding-right: 30%;
}

/* The navigation bar */
.navbar {
  display:inline-flex;
  overflow: hidden;
  top: 0;
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
  padding-top: 3%;
  vertical-align: middle;
}

/* Links inside the navbar */
.navbar li {
  float: left;
  display: block;
  color: #233348;
  text-align: center;
  text-decoration: none;
  width: 15%;
}

/* Change background on mouse-over */
.navbar li:hover {
  color: #814C8A;
}

.navbar li.active {
  color: #814C8A;
  text-decoration: underline;
}

#showcase{
  background-image:url("images/hands.png");
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  margin: 0;
  padding-right: 10%;
  padding-left: 10%;
}

#land2{
  background-color: #FDEFEB;
  display: flex;
  height:100vh;
  margin: 0;
}
.land{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10%;
}
.land3{
  background : url(images/element1.png);
  background-repeat: no-repeat;
  background-position: bottom right;

}

.land4{
  background : url(images/element2.png), url(images/elementf2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left, bottom right;
}

.box{
  border-radius: 25px;
  border-style: solid;
  border-color: coral;
  width: 25%;
  padding: 0px;
  margin: 20px;
}
.box img {
    max-width: 100%;
    max-height: 100%;
}
.box h3{
  padding: 10px;
}
.box p{
  padding: 10px;
}

.footer {
  background : url(images/elementf1.png), linear-gradient(to bottom, #7010C0, #8A4AC0);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, right;
  margin: 0;
  padding: 14px 16px;
  color: #fff;
}

.f{
  padding: 14px 10px;
  width: 20%;  
}
.f ul{
  list-style: none;
  padding-inline-start: 0;
  line-height:150%

}

.container {
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
  margin-right: 0;
  margin-left: 0;
}
